rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {

    // Documents uploaded by trainers or company admins
    match /documents/{companyId}/{courseId}/{type}/{fileName} {
      allow read: if request.auth != null;
      allow write: if request.auth != null;
    }

    // Deny everything else
    match /{allPaths=**} {
      allow read, write: if false;
    }
  }
}
